agate==1.6.3
aiohttp==3.7.3
alembic==1.7.7
altair==4.2.0
amqp==2.6.1
anyio==3.5.0
apache-airflow==2.2.5
apache-airflow-providers-amazon==3.3.0
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-sqlite==2.1.3
apache-superset==1.4.1
apispec==3.3.2
appdirs==1.4.4
appnope==0.1.3
argcomplete==2.0.0
asn1crypto==1.5.1
astroid==2.4.2
asttokens==2.0.5
async-generator==1.10
async-timeout==3.0.1
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backoff==1.11.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
billiard==3.6.4.0
bleach==3.3.1
blinker==1.4
boto3==1.21.42
botocore==1.24.42
Brotli==1.0.9
bs4==0.0.1
cachelib==0.1.1
cachetools==5.1.0
cattrs==1.10.0
celery==4.4.7
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
clickclick==20.10.2
colorama==0.4.4
colorlog==6.6.0
commonmark==0.9.1
conda==4.3.16
connexion==2.13.0
convertdate==2.4.0
cron-descriptor==1.2.24
croniter==1.3.4
cryptography==37.0.2
cx-Freeze==6.9
dbt-bigquery==1.0.0
dbt-core==1.0.1
dbt-extractor==0.4.0
dbt-postgres==1.0.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
-e git+https://github.com/rphpacheco/dev-analytics-cli.git@ae3cad8f6e46224de4c00af682b8aa7795db064a#egg=dev_analytics_cli
df2gspread==1.0.4
dill==0.3.4
dnspython==2.2.1
docutils==0.16
email-validator==1.1.3
entrypoints==0.4
executing==0.8.3
fastcore==1.4.3
findspark==1.4.2
Flask==2.2.2
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-Compress==1.11
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-Migrate==3.1.0
Flask-OpenID==1.3.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
flask-talisman==1.0.0
Flask-WTF==0.14.3
frozendict==2.3.4
fsspec==0.8.7
future==0.18.2
gcloud==0.18.3
gcsfs==0.7.2
geographiclib==1.52
geopy==2.2.0
gitdb==4.0.10
GitPython==3.1.29
google==3.0.0
google-api-core==2.2.2
google-api-python-client==1.6.7
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
google-cloud==0.34.0
google-cloud-bigquery==2.30.1
google-cloud-core==2.2.1
google-cloud-storage==1.43.0
google-cloud-vision==2.6.2
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.52.0
graphlib-backport==1.0.3
graphviz==0.20
grpcio==1.42.0
grpcio-status==1.42.0
gspread==5.3.2
gspread-dataframe==3.3.0
gunicorn==20.1.0
h11==0.13.0
holidays==0.10.3
hologram==0.0.14
html5lib==1.1
httpcore==0.14.7
httplib2==0.20.4
httpx==0.22.0
humanize==4.0.0
idna==3.3
importlib-metadata==4.9.0
importlib-resources==5.4.0
inflection==0.5.1
investpy==1.0.8
ipykernel==5.4.3
ipython==8.3.0
ipython-genutils==0.2.0
iso8601==1.0.2
isodate==0.6.1
isort==5.7.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.0
joblib==1.0.1
jsonpath-ng==1.5.3
jsonschema==3.1.1
jupyter-client==6.1.11
jupyter-core==4.7.1
kombu==4.6.11
kora==0.9.20
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.4.3
leather==0.3.4
lockfile==0.12.2
Logbook==1.5.3
lxml==4.9.2
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.1.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mashumaro==2.9
matplotlib-inline==0.1.3
mccabe==0.6.1
minimal-snowplow-tracker==0.0.2
msgpack==1.0.3
multidict==5.1.0
multitasking==0.0.11
mypy-boto3-rds==1.21.42
mypy-boto3-redshift-data==1.21.34
networkx==2.6.3
numpy==1.22.3
oauth2client==4.1.3
oauthlib==3.2.0
outcome==1.1.0
packaging==21.3
pandas==1.4.2
parsedatetime==2.4
parso==0.8.3
pendulum==2.1.2
pexpect==4.8.0
pgsanity==0.2.9
pickleshare==0.7.5
Pillow==9.3.0
plotly==5.11.0
ply==3.11
polyline==1.4.0
prison==0.2.1
prompt-toolkit==3.0.29
proto-plus==1.19.8
protobuf==3.19.1
psutil==5.9.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.21
pydeck==0.8.0
Pygments==2.12.0
PyJWT==1.7.1
pylint==2.6.0
PyMeeus==0.5.11
Pympler==1.0.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-geohash==0.8.5
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytimeparse==1.1.8
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
pyzmq==22.0.2
redis==4.1.4
redshift-connector==2.0.906
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.2.0
rsa==4.8
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
s3transfer==0.5.2
scikit-learn==0.24.2
scipy==1.6.3
scramp==1.4.1
selenium==4.1.5
semver==2.13.0
setproctitle==1.2.3
simplejson==3.17.6
six==1.16.0
slackclient==2.5.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
sqlalchemy-redshift==0.8.9
SQLAlchemy-Utils==0.37.9
sqlparse==0.3.0
stack-data==0.2.0
streamlit==1.16.0
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.1
traitlets==5.2.1.post0
trio==0.20.0
trio-websocket==0.9.2
typing_extensions==4.1.1
tzdata==2022.7
tzlocal==4.2
unicodecsv==0.14.1
Unidecode==1.3.2
uritemplate==3.0.1
urllib3==1.26.9
validators==0.20.0
vine==1.3.0
watchtower==2.0.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.12.1
wsproto==1.1.0
WTForms==2.3.3
WTForms-JSON==0.3.4
yarl==1.6.3
yfinance==0.2.3
zipp==3.6.0
